.midia {
  @apply flex flex-col fixed right-0 top-1/4 py-1 z-[100];
  cursor: pointer;

  a {
    @apply flex justify-end items-center;
  }

  svg {
    @apply w-[50px] h-[50px] rounded-l-full flex justify-start items-center;
    fill: #fff;
    transition: all 0.5s;
  }

  svg:hover {
    @apply w-[75px];
  }

  & a:nth-child(1) svg {
    background: #25de66;

    path {
      @apply translate-x-1 translate-y-0.5;
    }
  }

  & a:nth-child(2) svg {
    background: #3b5998;

    path {
      @apply translate-x-1 translate-y-1;
    }
  }
}
