/* Obras */
.obras_section {
  @apply w-full h-full flex flex-col justify-start items-center pt-16;

  .obras_div_title {
    @apply mt-[calc(10vh-50px)] mb-0 xl:my-[calc(10vh-50px)] w-full text-start px-16 xl:px-32;

    h1 {
      @apply text-[7vw] xl:text-[3vw] font-semibold text-[var(--text-dark1)] p-8 pl-0 pb-0;
    }

    h2 {
      @apply text-[5vw] xl:text-[1.75vw] font-normal text-[var(--text-dark2)];
    }
  }

  .obras_modelos {
    @apply grid xl:grid-cols-4 gap-y-[2.5vh] xl:gap-y-0 justify-evenly items-center gap-x-[3vw] h-fit w-full px-16 xl:px-32 mt-12 xl:mt-0 xl:mb-12;

    button {
      @apply w-full font-bold text-[4.5vw] xl:text-[1vw] uppercase text-center py-3 px-6 border-4 rounded-md hover:border-transparent hover:bg-[#242424] hover:text-white duration-300;
    }

    .active {
      background-color: #242424;
      color: white;
      border-color: transparent;
    }

    .inactive {
      background-color: transparent;
      color: #242424;
      border-color: #242424;
    }

    .filtro {
      @apply w-1/2 cursor-pointer text-[4.5vw] xl:text-[1vw] font-bold text-center text-[#242424] border-4 border-[var(--primary)]  bg-[var(--primary)] py-3 px-6 tracking-wider uppercase;
    }
  }

  .obras_content {
    @apply w-full h-fit;

    .obras_all_images_container {
      @apply grid xl:grid-cols-4 row-auto gap-x-[4vw] gap-y-[4vh] py-[5vh] px-16 xl:px-32 mt-[5vh] justify-center items-center w-full h-fit bg-[#00000020];

      div {
        @apply bg-black/80 w-full aspect-square overflow-hidden rounded-2xl shadow-[0_5px_25px_#00000080] cursor-zoom-in;

        img {
          @apply bg-center w-full h-full scale-105;
        }
      }
    }

    .obras_modelo_content {
      @apply grid xl:grid-cols-4 row-auto gap-x-[4vw] gap-y-[4vh] py-[5vh] px-16 xl:px-32 mt-[5vh] justify-center items-center w-full h-fit bg-[#00000020];

      div {
        @apply bg-black/80 w-full aspect-square overflow-hidden rounded-2xl shadow-[0_5px_25px_#00000080] cursor-zoom-in;

        img {
          @apply bg-center w-full h-full scale-105;
        }
      }
    }
  }
}
