/* Contato */
.contato_section {
  @apply bg-transparent xl:bg-transparent flex flex-col xl:flex-row justify-center items-center overflow-hidden relative h-full;
}

.contato_bg_image {
  @apply absolute bg-cover -z-10 aspect-square hidden xl:block;
}

.contato_filter {
  @apply w-full h-full absolute aspect-video xl:bg-blue-500/10 shadow-custom-double;
}

.contato_content {
  @apply flex flex-col xl:grid xl:grid-cols-2 my-[7.5vh] xl:my-[15vh] justify-center items-center xl:w-[70vw];
}

.contato_informations {
  @apply xl:bg-[#101010] grid border xl:translate-y-10 border-transparent xl:border-black/50 border-r-0 justify-between items-start w-full h-fit xl:h-full p-12 gap-y-[2vh] rounded-l-2xl z-10 relative;

  & h1 {
    @apply text-[6vw] xl:text-[1.5vw] text-black xl:text-white max-w-full;
  }

  & h2 {
    @apply text-[5vw] xl:text-[1.05vw] text-white max-w-full;
  }

  & h3 {
    @apply text-[4vw] xl:text-[1.05vw] text-white max-w-full;
  }

  p {
    @apply text-[white];
  }

  strong {
    @apply text-[#101010] xl:text-[var(--primary)];
  }

  h4 {
    @apply text-white/70 text-[5vw] xl:text-[2vw] xl:text-start;
  }
}

.contato_midia {
  @apply w-0 xl:w-auto h-0 xl:h-full xl:flex justify-self-end hidden justify-end gap-x-1 items-end cursor-pointer;
  fill: #ccc;

  svg {
    transform: scale(1);
    transition: 0.25s all;
  }

  svg:hover {
    transform: scale(1.1);
  }

  a:nth-child(1) svg {
    fill: #25de66;
  }

  a:nth-child(2) svg {
    fill: #3b5998;
  }
}

.contato_logo {
  @apply object-contain w-[80%] hidden xl:block xl:absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-10;
}

.contato_form {
  @apply min-w-[calc(400px+5vw)] text-lg xl:translate-y-10 flex flex-col gap-y-[2.5vh] justify-center items-center rounded-r-2xl xl:py-[10vh] px-[2vw] z-10 border border-transparent xl:border-black/50 border-l-0 xl:backdrop-blur;
}

.contato_form input {
  @apply w-[calc(100%-100px)] min-w-[200px] xl:min-w-[400px] bg-[#101010] text-white px-4 py-[calc(1.25vh+5px)] rounded-lg outline-none duration-300 shadow-[3px_4px_10px_#00000050];
}

.contato_form textarea {
  @apply w-[calc(100%-100px)] min-w-[200px] xl:min-w-[400px] bg-[#101010] text-white h-32 px-4 py-[calc(1.25vh+5px)] rounded-lg outline-none resize-none;
}

.contato_submit {
  @apply bg-[var(--primary)]  w-[calc(100%-100px)] min-w-[200px] xl:min-w-[400px] px-4 py-[calc(1.25vh+5px)] rounded-lg hover:text-[var(--primary)] hover:bg-[#101010] duration-500 uppercase font-bold tracking-wider;
}
